html,

body {
  font-family: sans-serif;
  color: #2E3440;

  // make any bg gradients fixed
  background: rgb(234,238,244);
  background: linear-gradient(137deg, rgba(234,238,244,1) 0%, rgba(184,191,204,1) 100%) fixed;}

h1 {
  font-size: 4vmax;
  text-align: center;
  margin-bottom: 1.1vh;
}

.name h1 {
  text-align: left;
}

h2 {
  font-size: 2.5vmax;
  margin-top: 1.1vh;
}

p {
  font-size: 2vmax;
  overflow-wrap: break-word;
}

main {
  margin: 8vh 15vw;
}

.navbar {
  ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0.5vw; //change
    overflow: hidden;
  }

  .nav_item li {
    float: right;
  }

  .link li {
    float: left;
  }

  .link img {
    width: 2em; // change
    height: auto;
  }

  li a {
    display: block;
    color: #3B4252;
    text-align: center;
    text-decoration: none;
    padding: 1vh 1vw; // change
    font-size: 1.5vmax;
  }

  li a:hover {
    color: #798294;
  }
}
